*{
    margin: 0;
    padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3424e6;
  padding: 10px 20px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
